/varios/01_singleton/nbproject/private/
/varios/02_bloques_estaticos_instancia/nbproject/private/
/varios/03_ejemplo_streams/nbproject/private/
/varios/03_ejemplo_streams/build/
/varios/04_filtrado/nbproject/private/
/varios/04_filtrado/build/
/varios/05_collect/nbproject/private/
/varios/05_collect/build/
/varios/06_streams_primitivos/nbproject/private/
/varios/06_streams_primitivos/build/
/varios/07_referencia_metodos/nbproject/private/
/varios/07_referencia_metodos/build/
/varios/08_tipo_enumerado/nbproject/private/
/varios/09_clases_anidadas/nbproject/private/
/varios/09_clases_anidadas/build/