/varios/01_singleton/nbproject/private/
/varios/02_bloques_estaticos_instancia/nbproject/private/
/varios/03_ejemplo_streams/nbproject/private/
/varios/03_ejemplo_streams/build/
/varios/04_filtrado/nbproject/private/
/varios/04_filtrado/build/